:root{
    --header-bg: orange;
    --header-padding: 100px;
    --wrapper-size: 70%;
    --link-color: black;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    padding: var(--header-padding);
    background-color: var(--header-bg);
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    padding: 50px;
    background-color: black;
    color: white;
}
.nav a{
    display: inline-block;
    margin: 10px;
}
.user-block{
    padding: 50px;
    background-color: red;
    color: white;
}
@media screen and (max-width: 800px) {
    :root{
        --header-bg: orange;
        --header-padding: 100px;
        --wrapper-size: 70%;
        
    }
    .wrapper{
        background-color: gray;
    }
    nav a{
        color: white;
    }
    
}
@media screen and (max-width: 600px) {
    :root{
        --header-bg: rgb(9, 255, 0);
        --header-padding: 50px;
        --wrapper-size: 90%;
        --link-color: black;
    }
    .wrapper{
        background-color: rgb(36, 34, 34);
        flex-direction: column;
        row-gap: 25px;
    }
    
}
@media(max-width: 400px) {
    :root{
        --header-bg: orange;
        --header-padding: 10px;
        --wrapper-size: 95%;
        
    }
    
}
